<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hi.hospital.mapper.DepartmentsMapper">
    <resultMap id="deptMap" type="com.hi.hospital.entity.Departments">
        <id property="departmentsId" column="department_id"/>
        <result property="departmentsName" column="department_name"/>
        <result property="departmentsPid" column="department_pid"/>
        <result property="departmentsLevel" column="department_level"/>
        <result property="departmentsPath" column="department_path"/>
        <result property="departmentsDescription" column="department_description"/>
    </resultMap>

    <select id="selectAll" resultMap="deptMap">
        SELECT * FROM departments where department_level = 1
    </select>

    <select id="getMaxId" resultType="int">
        select max(department_id)
        from departments
    </select>

    <select id="selectByName" resultMap="deptMap">
        select *
        from departments
        where department_name = #{name}
    </select>

    <insert id="insert" parameterType="com.hi.hospital.entity.Departments">
        insert into departments
        (department_id, department_name, department_pid, department_level, department_path, department_description)
        values
            (#{departmentsId}, #{departmentsName}, #{departmentsPid}, #{departmentsLevel}, #{departmentsPath}, #{departmentsDescription})
    </insert>

    <select id="selectById" resultMap="deptMap">
        select *
        from departments
        where department_id = #{id}
    </select>

    <select id="selectByPid" resultMap="deptMap">
        select * from departments where department_pid = #{pid}
    </select>

    <update id="updateById" >
        update departments set department_name = #{name}, department_desc = #{desc} where department_id = #{id}
    </update>
</mapper>